<article class="product" *ngFor="let product of products">
  <div class="product-header">
    <h3 class="product-header-title">{{ product.title }}</h3>
    <p>$ {{ product.price }}</p>
  </div>
  <div class="product-body">
    <!-- <img [src]="product.images[0]" alt="" /> -->
    <p>{{ product.description }}</p>
  </div>
  <div class="product-footer">
    <button class="product-footer-button" (click)="addToCart(product)">
      <i class="fa-solid fa-basket-shopping"></i>
    </button>
  </div>
</article>
