
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    position: relative;
    background-color: white;
    &-title{
        margin-bottom: 1.5rem;
    }
    &-products{
       app-product{
           display: flex;
           justify-content: center;
           flex-direction: row;
           flex-wrap: wrap;
       }
    }
}